#wrap { 
	width: 960px; 
    margin: 0 auto; 
    /*background-color: #80aaff;*/
}

.header {
    float: left;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: 	#ef7b00;
    text-decoration: underline;
}

.logo {
    height: 60px;
    padding: 20px;
    float: right;
}

.content {
    padding: 20px;
    margin: 0 auto;
    margin-top: 150px;
}

.impress {
    text-align: center;
    line-height: 0.8;
    font-family: 'Roboto', sans-serif;
    /*background-color: #e6e6e6;*/
    border-width: 0;
    border-top-width: 5px;
    border-style: solid;
    border-color: #004f9e;
    padding: 20px;
}

.box {
    height: 20px;
}

.content-box {
    width: 80%;
    min-height: 50px;
    /*background-color: #ef7b00;*/
    background: linear-gradient(90deg, #ef7b00 0%, #ef7b00 32%, #FFFFFF 100%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px auto;
    position: relative;
    font-size: 20px;
    line-height: 50px;
    font-family: 'Barlow', sans-serif;
    color: #004f9e;
}

.content-box p{
    display: none;
    line-height: 1.3;
}
.content h3{
    text-decoration: underline;
}

.c-img { 
    position: absolute;  
    top: 37px;  
    bottom: 0;   
    right: 0;  
    padding-right: 20px;
}

h3.content-box{
    font-size: 50px;
}

.top_bar{
    position: fixed;
    top: 0;
    width: 960px;
    display: block;
    background-color: white;
    overflow: hidden;
    border-width: 0;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: #004f9e;
    z-index: 1;
    padding: 20px;
}
